@page "{externalId}/{name}"
@model WebAppCommentBook.Pages.DirectionsModel
@{
    ViewData["Title"] = $"Directions {Model.name}";
}
@{
    var directions = ((List<APICommentBook.BaseClass>)ViewData["Directions"]);
}
@{
    var commentsFacult = ((List<APICommentBook.Comment>)ViewData["CommentsFacult"]);
}

    <p>
        <h1>@Model.name</h1>
        
        @foreach (var x in directions)
        {
            <div class="gorizontal-line" style="float: left; margin-right: 2%; margin-top: 2% ">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        @{
                            var id = x.id;
                            var name = x.name;
                        }
                        <h5 class="card-title">@name</h5>
                        <p class="card-text">
                        </p>
                        <a href="/Courses/@id/@name" class="card-link">Перейти к курсам направления</a>
                    </div>

                </div>
            </div>
        }
    </p>

    <!-- Main Body -->
    <section style="float: left; margin-top: 10%; margin-bottom: 5% ">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Comments</h1>
                    @foreach (var comment in commentsFacult)
                    {
                        string date = comment.time;
                        string name = comment.name;
                        string message = comment.text;

                        <div class="comment mt-4 text-justify ">
                            <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                            <h4>@name</h4>
                            <span>- @date </span>
                            <br>
                            <p>@message</p>
                        </div>
                    }
                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-10 mt-4">
                    <form id="algin-form" method="post">
                        <div class="form-group">
                            <h4>Leave a comment</h4>
                            <label for="message">Message</label>
                            <textarea name="msgUser" id="" msg cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="nameUser" id="fullname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="emailUser" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <p class="text-secondary">If you have a <a href="#" class="alert-link">gravatar account</a> your address will be used to display your profile picture.</p>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
