@page
@model WebAppCommentBook.Pages.FacultsModel
@{var facults = ((List<APICommentBook.Models.BaseClass>)ViewData["Facults"]);}
<p>
    @foreach (var x in facults)
    {
        <div class ="gorizontal-line" style="float: left; margin-right: 2%; margin-top: 2% ">
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                @{var name = x.name;}
                <h5 class="card-title">@name</h5>
                <p class="card-text">

                </p>
                <a href="#" class="card-link">Ссылка карточки</a>
                <a href="#" class="card-link">Другая ссылка</a>
            </div>

        </div>
        </div>
    }
</p>