@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    var facults = ((List<APICommentBook.Models.BaseClass>)ViewData["Facults"]);
}

<p>
    @foreach (var x in facults)
    {
        <div class="gorizontal-line" style="float: left; margin-right: 2%; margin-top: 2% ">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    @{
                        var name = x.name;
                        var id = x.id;
                        }
                    <h5 class="card-title">@name</h5>
                    <p class="card-text">

                    </p>
                    <a href="/Directions/@id" class="card-link">Список направлений</a>
                </div>

            </div>
        </div>
    }
</p>


